<div *ngIf="activeSubComponent === 'insertKKM'" class="wrapper align-items-center">
	<h1>{{ 'Insert KKM into the reader' | translate }}</h1>
</div>
<div *ngIf="activeSubComponent === 'kkmRemoved'" class="wrapper align-items-center" (click)="goBack()">
	<div class="d-flex flex-column align-items-center">
		<h1>{{ 'KKM was removed. Click anywhere to return.' | translate }}</h1>
	</div>
</div>
<div class="wrapper" *ngIf="activeSubComponent === 'KkmSelect'">
	<button mat-raised-button class="navButton" (click)="KkmSelectHandler('activeTicketsList')">
		<span>
			{{ 'Check active tickets' | translate }}
		</span>
		<mat-icon fill="0" fontIcon="checklist"></mat-icon>
	</button>
	<button mat-raised-button class="navButton" (click)="KkmSelectHandler('2')">
		<span>
			{{ 'Purchase ticket' | translate }}
		</span>
		<mat-icon fill="0" fontIcon="shopping_cart"></mat-icon>
	</button>
	<button mat-raised-button class="navButton" (click)="KkmSelectHandler('ticketActivation')">
		<span>
			{{ 'Activate ticket' | translate }}
		</span>
		<mat-icon fill="0" fontIcon="cloud_download"></mat-icon>
	</button>
</div>
<app-active-tickets-list *ngIf="activeSubComponent === 'activeTicketsList'"></app-active-tickets-list>
<app-ticket-activation *ngIf="activeSubComponent === 'ticketActivation'" [isTicketAvailable]="true"></app-ticket-activation>
