.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.fullPage {
	height: calc(100% - 50px);
}

.buttons {
	margin-top: 20px;
}

.buttons > *:not(:last-child) {
	margin-right: 20px;
}
